@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    /* min-height: 80vh; */
}

.btn1{
    color: white;
    background-color: #85d46d;
    border-radius: 5px;
    padding: 8px 18px;
}
.btn1:focus{
    background-color: #249900;
}

.btn2{
    color: white;
    background-color: #249900;
    border-radius: 5px;
    padding: 10px 20px;
}
.btn2:hover{
    background-color: #196602;
}
